<div class="content-holder clearfix">
  <div class="container content-zone">
    <div class="span2">
    </div>
    <div class="span8 right" id="content">
      <div class="post_wrapper">
        {% for record in website_data.blog_records %}
          <article class="post type-post status-publish format-standard has-post-thumbnail hentry post__holder">
            <header class="post-header">
              <h2 class="post-title">
                <a href="/blog/{{record.slug}}"></a>
              </h2>
            </header>
            {% if record.cover.present? %}
              <figure class="featured-thumbnail thumbnail large">
                <a href="/blog/{{record.slug}}">
                  <img class="cover" src="{{ record.image | attachment_url: 'big' }}" alt="{{record.all_text}}" />
                </a>
              </figure>
            {% endif %}
            <div class="post_content">
              <div class="excerpt">
                {{record.text | truncate: 300 }}
              </div>
              <a href="{{record.slug}}" class="btn btn-primary btn-from-top">
                <span>
                  Read More
                </span>
              </a>
              <div class="clear"></div>
            </div>
          </article>
        {% endfor %}
      </div>
      <div class="pagination pagination__posts">
        <a href="/blog_next" class="btn btn-default btn-book load-more">
          Load more
        </a>
      </div>
    </div>
  </div>
</div>
