<div class="content-holder clearfix">
  <div class="container">
    <div class="row" id="content">
      <div class="span12">
        <div class="page type-page status-publish hentry">
          <div class="row">
            <div class="span12">
              <div id="map-canvas" style="height: 300px;"></div>

              {% if website_data.map_center_lat and website_data.map_center_lng %}
                <script>
                  var zoom = {{website_data.zoom_level}}
                  var lat = {{website_data.map_center_lat}}
                  var lng = {{website_data.map_center_lng}}
                  function initialize() {
                    var myOptions = {
                        zoom: zoom,
                        center: new google.maps.LatLng(lat, lng),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        scrollwheel: false
                    }
                    map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(lat, lng)
                    });
                  }

                  function loadScript() {
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
                        '&callback=initialize&key=AIzaSyCxqPAlL6tmp-Wny3tC0e_byl-jOxzu_QA';
                    document.body.appendChild(script);
                  }

                  loadScript();
                </script>
              {% endif %}

              <div class="span4 contacts">
                <h2>
                  {{website_data.contact_area_title}}
                </h2>
                <p>
                  {{website_data.contact_area_description}}
                </p>
                <dl class="dl-horizontal">
                  <dt>Phone:</dt>
                  <dd>
                    {{website_data.phone_number}}
                  </dd>
                  <dt>Email:</dt>
                  <dd>
                    {{website_data.email_address}}
                  </dd>
                  <dt>Trip Advisor:</dt>
                  <dd>
                    <a class="btn btn-success btn-sm" href="{{website_data.tripadvisor_listing_link}}%>">View Our Profile</a>
                  </dd>
                  <dt>Address:</dt>
                  <dd>
                    {{website_data.address}}
                  </dd>
                </dl>
              </div>
              <div class="span8">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
