<!-- Main pahe header -->
<div class="main-holder" id="motopress-main">
  <div class="offer-wrap only-on-main-page">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="offer">
            <div class="row">
              <div class="span12">
                <section class="parallax-box image-parallax-box">
                  <div class="parallax-content">
                    <div class="row">
                      <div class="span8">
                        <p class="logo">
                          <a href="/">
                            {% if website_data.logo_text.nil? or website_data.logo_text.empty? %}
                              <img src="{{website_data.logo.image | attachment_url: 'default'}}" />
                            {% else %}
                              {{website_data.logo_text}}
                            {% endif %}
                          </a>
                        </p>
                        <h1>
                          {{website_data.header_text_1}}
                          <br />
                          {{website_data.header_text_2}}
                        </h1>
                        {% if website_data.booking_link.nil? or website_data.booking_link.empty> %}
                          <a href="/public_booking" class="btn btn-default btn-normal btn-inline booking-form-link">
                            {{website_data.booking_buttom_text}}
                          </a>
                        {% else %}
                          <a href="{{website_data.booking_link}}" class="btn btn-default btn-normal btn-inline booking-form-link">
                            {{website_data.booking_buttom_text}}
                          </a>
                        {% endif }
                        {% if website_data.hotel_slug == 'gowergolf' %}
                          <a class="btn btn-default btn-normal btn-inline clean" href="/book-tee-time" target="_self" title="Learn more">
                            Book a Tee Time
                          </a>
                        {% else %}
                          <a class="btn btn-defautl btn-noraml btn-inline clean" href="#welcome" target="_self" title="Learn more">
                            Learn more
                          </a>
                        {% endif %}
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="parallax-bg" data-img-url="{{website_data.header_image | attachment_url: 'default' }}" data-invert="false" data-parallax-type="image" data-speed="normal"> </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="nav-wrap">
          <div class="row">
            <div class="span2">
              <div class="logo pull-left">
                <a href="/" class="logo_h logo_h__img">
                  {% if website_data.logo_text.nil? or website_data.logo_text.empty? %}
                    <img src="{{website_data.logo | attachment_url: 'default'}}" />
                  {% else %}
                    {{website_data.logo_text}}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="span10">
              <nav class="nav nav__primary clearfix">
                <ul class="sf-menu" id="topnav">
                  {% for link in website_data.top_links %}
                    {% if link.links.size == 0%}
                      {% if link.category == 'Predefined Link' %}
                        {% if link.value == 'home' }
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'rooms' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                            <a href="" class="dropdown-toggl" data-toggle="dropdown">
                              {{link.title}}
                              <i class="fa fa-caret-right"></i>
                            </a>
                            <ul class="sub-menu">
                              {% for room in website_data.rooms %}
                                {% if room.visible == true %}
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="{{room.slug}}">{{room.name}}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                              {% for room in website_data.custom_rooms %}
                                {% if room.visible == true %}
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="{{room.slug}}">{{room.name}}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </li>
                        {% elsif link.value == 'features' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="#features"> {{link.title}} </a>
                          </li>
                        {% elsif link.value == 'contacts' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/contacts">{{link.value}}</a>
                          </li>
                        {% elsif link.value == 'faq' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/faq">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'about' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/about">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'blog' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/blog">{{link.title}}</a>
                          </li>
                          {% elsif link.value == 'terms-and-conditions' %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                              <a href="/terms-and-conditions">{{link.title}}</a>
                            </li>
                          {% elsif link.value == 'privacy-policy'}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                              <a href="/privacy-policy">{{link.title}}</a>
                            </li>
                          {% elsif link.value == 'booking' %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                              {% if website_data.booking_link.nil? or website_data.booking_link.empty> %}
                                <a href="/public_booking" class="booking-form-link">{{link.title}} </a>
                              {% else %}
                                <a href="{{website_data.booking_link}}"> {{link.title}} </a>
                              {% endif %}
                            </li>
                          {% endif %}
                        {% elsif link.category == 'Custom Page Link' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{link.value}}"> {{link.title}} </a>
                          </li>
                        {% elsif link.category == 'Blog Record Link' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/blog/{{link.value}}"> {{link.title}} </a>
                          </li>
                        {% elsif link.category == 'Room Page Link'}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{link.value}}"> {{link.title}} </a>
                          </li>
                        {% else %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{link.value}}">{{link.title}}</a>
                          </li>
                        {% endif %}
                      {% else %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                          <a href="#">
                            {{link.title}}
                            <i class="fa fa-caret-right"></i>
                          </a>
                          <ul class="sub-menu">
                            {% for link in link.links %}
                            {% if link.category == 'Predefined Link' %}
                              {% if link.value == 'home' }
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="/">{{link.title}}</a>
                                </li>
                              {% elsif link.value == 'rooms' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                  <a href="" class="dropdown-toggl" data-toggle="dropdown">
                                    {{link.title}}
                                    <i class="fa fa-caret-right"></i>
                                  </a>
                                  <ul class="sub-menu">
                                    {% for room in website_data.rooms %}
                                      {% if room.visible == true %}
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                          <a href="{{room.slug}}">{{room.name}}</a>
                                        </li>
                                      {% endif %}
                                    {% endfor %}
                                    {% for room in website_data.custom_rooms %}
                                      {% if room.visible == true %}
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                          <a href="{{room.slug}}">{{room.name}}</a>
                                        </li>
                                      {% endif %}
                                    {% endfor %}
                                  </ul>
                                </li>
                              {% elsif link.value == 'features' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="#features"> {{link.title}} </a>
                                </li>
                              {% elsif link.value == 'contacts' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="/contacts">{{link.value}}</a>
                                </li>
                              {% elsif link.value == 'faq' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="/faq">{{link.title}}</a>
                                </li>
                              {% elsif link.value == 'about' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="/about">{{link.title}}</a>
                                </li>
                              {% elsif link.value == 'blog' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="/blog">{{link.title}}</a>
                                </li>
                                {% elsif link.value == 'terms-and-conditions' %}
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="/terms-and-conditions">{{link.title}}</a>
                                  </li>
                                {% elsif link.value == 'privacy-policy'}
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="/privacy-policy">{{link.title}}</a>
                                  </li>
                                {% elsif link.value == 'booking' %}
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    {% if website_data.booking_link.nil? or website_data.booking_link.empty> %}
                                      <a href="/public_booking" class="booking-form-link">{{link.title}} </a>
                                    {% else %}
                                      <a href="{{website_data.booking_link}}"> {{link.title}} </a>
                                    {% endif %}
                                  </li>
                                {% endif %}
                              {% elsif link.category == 'Custom Page Link' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="{{link.value}}"> {{link.title}} </a>
                                </li>
                              {% elsif link.category == 'Blog Record Link' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="/blog/{{link.value}}"> {{link.title}} </a>
                                </li>
                              {% elsif link.category == 'Room Page Link'}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="{{link.value}}"> {{link.title}} </a>
                                </li>
                              {% else %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="{{link.value}}">{{link.title}}</a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  {% if website_data.langs.size > 1 %}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children languages">
                      <a href="#">
                        <span class="flag-icon flag-icon-<%= @lang %>"></span>
                       <!-- <%= get_native_title(@lang) %> -->
                        <i class="fa fa-caret-right"></i>
                     </a>
                     <ul class="sub-menu">
                       {% for lang in website_data.langs %}
                         <li class="menu-item menu-item-type-post_type menu-item-object-page">
                           <a href="/{{lang}}">
                             <span class="flag-icon flag-icon-{{lang}}"></span>
                             <!-- <%= get_native_title(lang) %> -->
                           </a>
                         </li>
                       {% endfor %}
                     </ul>
                   </li>
                  {% endif %}
                  <li class="menu-item menu-item-type-post_type menu-item-object-page logout">
                    <a href="#">
                      Logout
                    </a>
                 </li>
                 <li class="link menu-item menu-item-type-custom menu-item-object-custom">
                   {% if website_data.booking_link.nil? or website_data.booking_link.empty? %}
                    <a href="/public_booking" class="booking-form-link">
                      {{website_data.booking_button_text}}
                    </a>
                   {% else %}
                    <a href="{{website_data.booking_link}}">
                      {{website_data.booking_button_text}}
                    </a>
                   {% endif %}
                 </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-lock"></div>


<!-- Insiders -->
{% if website_data.membership_active and website_data.membership_placement == 'top' %}
  <div class="insiders" style="background: {{website_data.membership_description_color}}; background: -moz-linear-gradient(left,   {{website_data.membership_description_color}} 0%, {{website_data.membership_description_color}} 50%, {{website_data.membership_from_color}} 50%, {{website_data.membership_from_color}}> 100%); background: -webkit-linear-gradient(left,  {{website_data.membership_description_color}} 0%,{{website_data.membership_description_color}} 50%,{{website_data.membership_from_color}} 50%,{{website_data.membership_from_color}} 100%); background: linear-gradient(to right,  {{website_data.membership_description_color}} 0%,{{website_data.membership_description_color}} 50%,{{website_data.membership_from_color}} 50%,{{website_data.membership_from_color}} 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{website_data.membership_description_color}}', endColorstr='{{website_data.membership_from_color}}',GradientType=1 );">
    <div class="container"></div>
  </div>
{% endif %}


<!--  Content block -->
<div class="content-holder clearfix">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span12">
            <div class="slider_off"></div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <div class="post-203 page type-page status-publish hentry">
              <div class="row">
                <div class="span12">
                  <div class="spacer">
                    <a name="welcome"></a>
                  </div>
                </div>
                <div class="span2"></div>
                <div class="span8 tofade">
                  {% raw %} {{website_data.text_area}} {% endraw %}
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Rooms  -->
    <div class="row">
      <div class="span12">
        <div class="spacer"></div>
        <div class="page type-page status-publish hentry">
          <div class="title-box clearfix">
            <h2 class="title-box_primary">
              Our Rooms
            </h2>
          </div>
          <ul class="posts-grid row-fluid unstyled services ul-item-0">
            {% for room in website_data.rooms %}
              {% if room.visible == true and room.room_type.photos.size > 0 %}
                <li class="room">
                  <figure class="featured-thumbnaul thumbnail">
                    <a href="{{room.slug}}">
                      <img src="{{room.room_type.photos.first.image | attachment_url: 'public' }}" />
                    </a>
                  </figure>
                  <div class="clear"></div>
                  <div class="desc">
                    <h5>
                      <a href="{{room.slug}}">
                        {{room.name}}
                      </a>
                    </h5>
                    <p class="excerpt">
                      {{room.introduction}}
                    </p>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
            {% for room in website_data.custom_rooms %}
              {% if room.visible == true and  room.website_custom_room_photos.size > 0 %}
                <li class="room">
                  <figure class="featured-thumbnail thumbnail">
                    <a href="{{room.slug}}">
                      <img src="room.website_custom_room_photos.first.image | attachment_url: 'public' " />
                    </a>
                  </figure>
                  <div class="clear"></div>
                  <div class="desc">
                    <h5>
                      <a href="{{room.slug}}">
                        {{room.title}}
                      </a>
                    </h5>
                    <p class="excerpt">
                      {{room.introduction}}
                    </p>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Inseders -->
{% if website_data.membership_active and website_data.membership_placement == 'middle' %}
  <div class="insiders" style="background: {{website_data.membership_description_color}}; background: -moz-linear-gradient(left,   {{website_data.membership_description_color}} 0%, {{website_data.membership_description_color}} 50%, {{website_data.membership_from_color}} 50%, {{website_data.membership_from_color}}> 100%); background: -webkit-linear-gradient(left,  {{website_data.membership_description_color}} 0%,{{website_data.membership_description_color}} 50%,{{website_data.membership_from_color}} 50%,{{website_data.membership_from_color}} 100%); background: linear-gradient(to right,  {{website_data.membership_description_color}} 0%,{{website_data.membership_description_color}} 50%,{{website_data.membership_from_color}} 50%,{{website_data.membership_from_color}} 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{website_data.membership_description_color}}', endColorstr='{{website_data.membership_from_color}}',GradientType=1 );">
    <div class="container"></div>
  </div>
{% endif %}

<!-- Features -->
<div class="content_box">
  <div class="spacer"></div>
  <div class="container">
    <div class="row">
      <div class="span1"></div>
      <div class="span7">
        <div class="title-box clearfix">
          <h2 class="title-box_primary">
            {{website_data.features_title}}
          </h2>
        </div>
      </div>
    </div>
    <div class="row service-row">
      <div class="span1"></div>
      <div class="span3">
        {% for feature in website_data.features limit: 2 offset: 0 %}
          <div class="service-box features right-align">
            <div class="service-box_body">
              <h2 class="title">
                {{feature.title}}
              </h2>
              <div class="service-box_txt">
                {% raw %} {{feature.description}} {% endraw %}
              </div>
            </div>
          </div>
        {% enddor %}
      </div>
      <div class="span1"></div>
      <div class="span3">
        {% for feature in website_data.features limit:6 offset: 3 %}
          <div class="service-box features left-align">
            <div class="service-box_body">
              <h2 class="title">
                {{feature.title}}
              </h2>
              <div class="service-box_txt">
                {% raw %} {{feature.description}} {% endraw %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="span3 tripadvisor">
        <div class="tripadvisor">
           {% raw %} {{website_data.tripadvisor_code}} {% endraw %}
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>

<div class="content_box red">
  <div class="service-box demo-title">
    <div class="service-box_body">
      <h2 class="title">
        Like what you see? Check our rates here
      </h2>
      <div class="btn-align">
        {% if website_data.booking_link.nil? or website_data.booking_link.empty? %}
          <a href="/public_bookin" class="btn btn-default btn-normal btn-inline booking-form-link">
            {{website_data.booking_button_text}}
          </a>
        {% else %}
          <a href="{{website_data.booking_link}}" class="btn btn-default btn-normal btn-inline booking-form-link">
            {{website_data.booking_button_text}}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

{% if website_data.testimonials.size > 0 %}
  <div class="content_box">
    <div class="container">
      <div class="title-box clearfix">
        <span class="title-box_icon">
          <img src="assets/images/quotes.png"/>
        </span>
        <h2 class="title-box_primary">What my clients say</h2>
      </div>
      <div class="flexslider no-bg testi-home" id="flexslider_dxucdrquae">
        <ul class="slides">
          {% for testimonial in website_data.testimonials %}
            <li class="list-item-0">
              <h5>
                <a href="#">
                  {{testimonial.title}}
                </a>
              </h5>
              <p class="excerpt">
                {% raw %} {{testimonial.body}} {% endraw %}
              </p>
              <div class="post_options">
                <span class="user">
                  {{testimonial.name}}
                </span>
                <a class="testi-url" href="{{testimonial.link}}" target="_blank">
                  {{testimonial.link}}
                </a>
                <br/>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}

<!-- Insiders -->
{% if website_data.membership_active and website_data.membership_placement == 'bottom' %}
  <div class="insiders" style="background: {{website_data.membership_description_color}}; background: -moz-linear-gradient(left,   {{website_data.membership_description_color}} 0%, {{website_data.membership_description_color}} 50%, {{website_data.membership_from_color}} 50%, {{website_data.membership_from_color}}> 100%); background: -webkit-linear-gradient(left,  {{website_data.membership_description_color}} 0%,{{website_data.membership_description_color}} 50%,{{website_data.membership_from_color}} 50%,{{website_data.membership_from_color}} 100%); background: linear-gradient(to right,  {{website_data.membership_description_color}} 0%,{{website_data.membership_description_color}} 50%,{{website_data.membership_from_color}} 50%,{{website_data.membership_from_color}} 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{website_data.membership_description_color}}', endColorstr='{{website_data.membership_from_color}}',GradientType=1 );">
    <div class="container"></div>
  </div>
{% endif %}

<!-- Footer  -->
<footer class="footer">
  <div class="container">
    <div class="row">
      {% for footer in website_data.footers %}
        <div class="span4">
          <h3>
            {{footer.title}}
          </h3>
          {% raw %} {{footer.text}} {% endraw %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row copyright">
          <div class="span6">
            <div class="footer-text-add">
              <div class="name">
                 Copyright ©
                 {{ 'now' | "%y"}}
                 {{website_data.hotel_name}}
                 All rights reserved.
                 <br />
                 Hotel Website Powered by
                 <a href="http://thebookingfactory.com"> thebookingfactory.com </a>
              </div>
            </div>
          </div>
          <div class="span6">
            <div id="footer-text" class="footer-text">
              {% for link in website_data.footer_links %}
                {% if link.category == 'Predefined Link' %}
                  {% if link.value == 'home' %}
                    <a href="/"> {{link.title}} </a>
                  {% elsif link.value == 'features' %}
                    <a href="#fetaures">{{link.title}}</a>
                  {% elsif link.value == 'contacts' %}
                    <a href="/contacts">{{link.title}}</a>
                  {% elsif link.value == 'faq' %}
                    <a href="/faq">{{link.title}}> </a>
                  {% elsif link.value == 'about'%}
                    <a href="/about">{{link.title}}> </a>
                  {% elsif link.value == 'blog' %}
                    <a href="/blog"> {{link.title}} </a>
                  {% elsif link.value == 'terms-and-conditions'%}
                    <a href="/terms_and_conditions">{{link.title}} </a>
                  {% elsif link.value == 'privacy-policy' %}
                    <a href="/privacy-policy">{{link.title}}</a>
                  {% elsif link.value == 'booking' %}
                    <a href="/public_booking" class="booking-form-link"></a>
                  {% endif %}
                {% elsif link.category == 'Custom Page Link' %}
                  <a href="{{link.value}}">{{link.title}}</a>
                {% elsif link.category == 'Blog Record Link' %}
                  <a href="{{link.value}}"> {{link.title}} </a>
                {% elsif link.category == 'Room Page Link' %}
                  <a href="{{link.value}}">{{link.title}}</a>
                {% else %}
                  <a href="{{link.value}}">{{link.title}}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="span12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
