
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <style>
    .main-photo {
      min-height: 100%;
      margin-top: -52px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .main-photo .jumbotron {
      position: absolute;
      color: #ffffff;
      top: 90px;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0;
      background: transparent;
    }

    .main-photo .jumbotron .container {
      max-width: 1170px;
      height: 100%;
      text-align: left;
      position: relative;
    }

    .main-photo .jumbotron .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 90%;
    }

    .main-photo .jumbotron .text p.title {
      font-size: 48px;
    }

    .numbers {
      padding-top: 40px;
      margin-bottom: 30px;
    }

    .features {
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      background-size: 100%;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      color: #ffffff;
      margin-bottom: 15px;
    }

    .features .features-list {
      margin-top: 70px;
    }
    .feature {
      display: inline-block;
      width: 32%;
      text-align: center;
      vertical-align: top;
      margin-bottom: 40px;
      padding: 0 5%;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 16px;
    }

    .feature i {
      display: block;
      font-size: 75px;
    }

    .faq {
      margin-bottom: 30px;
      font-size: 0;
    }

    .faq h2 {
      margin-bottom: 34px;
    }

    .question-block {
      width: 50%;
      display: inline-block;
      margin-bottom: 30px;
      padding: 0 40px 0 0;
      vertical-align: top;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: rgba(0,0,0,0.5);
    }

    .question-block .question {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: #000000;
      margin-bottom: 10px;
    }

    .contacts .left-block {
      padding-right: 25px;
    }

    .contacts form .half-input {
      width: 50%;
      float: left;
    }

    .contacts form .half-input.first {
      padding-right: 20px
    }

    .contacts form .half-input input {
      width: 100%;
      display: block;
      margin-right: 20px;
      box-sizing: border-box;
      margin-bottom: 20px;
      height: 40px;
      border: 1px solid #d4d4d4;
      padding: 0 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 16px;
    }

    .contacts form textarea {
      width: 100%;
      height: 90px;
      border: 1px solid #d4d4d4;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 16px;
    }

    .contacts form .control {
      vertical-align: middle;
      margin-top: 15px;
    }

    .contacts form .control .btn {
      height: 40px;
      margin-top: -4px;
      margin-left: 16px;
    }

    .contacts form .control .btn {
      height: 40px;
      margin-top: -4px;
      margin-left: 16px;
    }

    h2 {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 36px;
    }

    dl {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .dl-horizontal dt {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      width: 120px;
      text-align: left;
      margin-bottom: 20px;
    }

    .dl-horizontal dd {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #000000;
      line-height: 30px;
      margin-left: 150px;
    }

    .footer {
      background-color: #3c3c3c;
      color: #ffffff;
      padding-bottom: 30px;
    }

    .copyright {
      background-color: #292929;
      color: #ffffff;
      padding: 15px 0;
      line-height: 30px;
    }

  </style>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"> {{website_data.hotel_name}} </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% for link in website_data.top_links %}
            <li>
              <a href="{{link.value}}"> {{link.title}} </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{{content}}

  <div class="footer">
    <div class="container">
      <div class="row">
        {% for footer in website_data.footers %}
          <div class="col-md-4">
            <h3>{{footer.title}}</h3>
            {{footer.text}}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <span>
            Copyright &copy;
            {{website_data.hotel_name}}
          </span>
          <span>
            All rights reserved.
          </span>
          <span>
            Hotel Website Powered by
            <a href="http://thebookingfactory.com">thebookingfactory.com</a>
          </span>
        </div>
        <div class="col-md-4 text-right">
          {% for link in website_data.footer_links %}
            <a href="{{link.value}}"> {{link.title}} </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
