<div class="content-holder clearfix">
  <div class="container">
    <div class="row" id="content">
      <div class="span7">
        <figure class="featured-thumbnail thumbnail large">
          {% if number.room_type.photos.size > 0 %}
            <div class="big-photo">
              <img src="{{number.room_type.photos.first.image | attachment_url: 'public_big'}}" />
            </div>
          {% endif %}
        </figure>
        {% if number.room_type.photos.size > 1 %}
          <div class="clear"></div>
          <ul class="pager single-pager">
            {% for photo in number.room_type.photos %}
              {% if forloop.index0 == 0 %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                <a href="{{photo.image | attachment_url: 'public_big'}}">
                  <img src="{{photo.image | attachment_url: 'public_small'}}" class="hidden-xs" />
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="entry-content span5">
        <h1>
          {{number.name}}
        </h1>
        {% unless number.description.nil? %}
          <p>
            {% raw %} {{number.description}} {% endraw %}
          </p>
        {% endunless %}
        {% if number.room_type.facilities.size > 0 %}
          <strong>Room facilities</strong>
          <ul class="facilities">
            {% for facility in number.room_type.facilities %}
              <li>
                {% if facility.icon %}
                  <i class="fa-{{facility.icon}} fa"></i>
                {% else %}
                  <i class="fa-circle fa"></i>
                {% endif %}
                {{ facility.title | get_translation: website_data.id, website_data.lang }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if website_data.booking_link  = '' %}
          <a href="/public_booking" class="btn-btn-default btn-normal btn-inline booking-form-link btn-from-top">Book Now </a>
        {% else %}
          <a href="{{website_data.booking_link}}" class="btn btn-default btn-normal btn-inline booking-form-link btn-from-top">Book Now</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
