<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="{{ '/css/test.css' | file_url }}">
  </head>

  <body>
    {% if website_data.mobile_menu_fixed == true %}
      <div class="navbar-fixed-top row xs-header visible-xs-block hidden-sm hidden-md hidden-lg">
    {% else %}
      <div class="row xs-header visible-xs-block hidden-sm hidden-md hidden-lg">
    {% endif %}
    <div class="col-xs-8">
      <div class="row-fluid">
        <div class="col-xs-4 text-center small-top-btn">
          <button class="open-menu">
            <i class="fa fa-bars"></i>
            Menu
          </button>
        </div>
        <div class="col-xs-4 text-center small-top-btn">
          <a href="tel:{{ website_data.phone_number}}">
            <i class="fa fa-phone"></i>
            Call
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-4 text-center reservation">

    </div>
  </div>
  {% if website_data.mobile_menu_fixed == true %}
    <div class="fixed-header-padded visible-xs-block hidden-sm hidden-md hidden-lg"></div>
  {% endif %}
  <nav class="navbar navbar-default navbar-static hidden-xs" id="top-menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ '' | link_to }}"> {{website_data.hotel_name}} </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% for link in website_data.top_links %}
            <li>
              <a href="{{ link.value | link_to }}"> {{ link.title }} </a>
            </li>
          {% endfor %}
          {% if website_data.langs.size > 1 %}
            <li class="dropdown languages">
              Dropdown languages
            </li>
          {% endif %}
          <li class="logout">
            <a href="#">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>


    {{content}}

    <div class="footer">
      <div class="container">
        <div class="row">
          {% for footer in website_data.footers %}
            <div class="col-md-4">
              <h3>{{footer.title}}</h3>
              {{footer.text}}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <span>
              Copyright &copy;
              {{website_data.hotel_name}}
            </span>
            <span>
              All rights reserved.
            </span>
            <span>
              Hotel Website Powered by
              <a href="http://thebookingfactory.com">thebookingfactory.com</a>
            </span>
          </div>
          <div class="col-md-4 text-right">
            {% for link in website_data.footer_links %}
              <a href="{{ link.value | link_to }}"> {{ link.title }} </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{{ '/js/test.js' | file_url }}"> </script>

  </body>
</html>
